<!-- <p>product-review works!</p>

<form class="example-form">
    mat-form-field class="example-full-width">
      <mat-label>User Id</mat-label>
      <input matInput placeholder="User Id" >
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Product Id</mat-label>
      <input matInput placeholder="Product Id" >
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Date</mat-label>
        <input matInput placeholder="Date" type = "date">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Rating</mat-label>
        <input matInput placeholder="Ratings">
      </mat-form-field>
  
  
    <mat-form-field class="example-full-width">
      <mat-label>Review</mat-label>
      <textarea matInput placeholder="Ex. How was the product you purchased?"></textarea>
    </mat-form-field>
  </form> -->