
    <!-- <table class="table table-striped" >
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Operation</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{ product.id }}</td>
                <td>
                    <a href="default.asp">
                    <img
                        [src]="product.imageURL"
                        class="me-2"
                        style="width: 60px"
                        alt="Not Found"
                    /></a>
                </td>
                    <td>
                    {{ product.name }}
                </td>
                <td>{{ product.description }}</td>
                <td>{{ product.price | currency:'R'}}</td>
                
                <td><button mat-fab color="primary"  aria-label="Example icon button with a editicon">
                        <mat-icon>review</mat-icon>
                      </button>
                </td>
            </tr>
        </tbody>
    </table> -->


<h1>This page works</h1>
