
    <table class="table table-striped" >
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Operation</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{ product.pid }}</td>
                <td>
                    <img
                        [src]="product.pimg"
                        class="me-2"
                        style="width: 60px"
                        alt="Not Found"
                    /></td>
                    <td>
                    {{ product.productName }}
                </td>
                <td>{{ product.productDescription }}</td>
                <td>{{ product.productPrice | currency:'R'}}</td>

                <td>Available Stock: {{ product.productQuantity | number }}</td>
                
                
                <td><button mat-fab color="primary"  aria-label="Example icon button with a delete icon">
                        <mat-icon>edit</mat-icon>
                      </button>

                    
                </td>
            </tr>
        </tbody>
    </table>