<div class="container">
  <br>
  <h3>Orders</h3>
  <br><br>
  <table class="table table-striped">
      <thead style="background-color: aquamarine;">
          <th scope="col">Order number</th>
          <th scope="col">Date</th>
          <th scope="col">Products</th>
          <th scope="col">Status</th>
      </thead>
      <tbody>
          <tr *ngFor="let order of orders">
              <td>#{{order.id}}</td>
              <td width="25%">
                  <p>{{order.date | date:'fullDate'}}</p>
              </td>
              <td width="40%">
                  <div>
                      <div class="card m-1 p-1" *ngFor="let product of order.products">
                          <div class="card-body d-flex justify-content-start">
                              <img height="100%" width="35%" src="{{product.imageURL}}" alt="Product image">
                              <div class="m-1">
                                  <span>{{product.name}}</span><br>
                                  <span>{{product.brand}}</span><br>
                                  <span>{{product.price | currency:'R'}}</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </td>
              <td>
                  <select name="status" id="status" class="form-control" value="{{order.status}}"
                      (blur)="updateOrder(order, status.value)" #status>
                      <option value="recieved">Recieved</option>
                      <option value="enroute">En route</option>
                      <option value="delivered">Delivered</option>
                  </select>
              </td>
          </tr>
      </tbody>
  </table>
</div>
