<br>
<br>
<div class="container">
  <div class="card p-2">
    <div class="card-header">
      Shopping Cart
    </div>
    <br>
    <div class="card-body" *ngFor="let product of cart.products">
      <div>
        <img height="90%" width="150px" src="{{product.imageURL}}" alt="Product image">
      </div>
      <div>
        <h4>{{product.name}}</h4><br>
        <span>{{product.brand}}</span><br>
        <span>{{product.price | currency:'R'}}</span>
      </div>
      <div>
        <label for="quantity">Qty:</label><br>
        <input type="number" name="quantity" id="quantity">
      </div>
    </div>
    <br>
    <span align="end">Total: <strong>{{total | currency:'R'}}</strong> </span>
    <br><br>
    

    <br>
    <button id="btnCheckout" class="btn" (click)="placeOrder()">Checkout</button>
  </div>
  <br>
</div>