<br>
<br>
<div class="container">
  <div class="card p-2">
    <div class="card-header">
      Shopping Cart
    </div>
    <div class="card-body" *ngFor="let product of cart.products">
      <div>
        <img height="100px" width="100px" src="{{product.imageURL}}" alt="Product image">
      </div>
      <div>
        <h4>{{product.name}}</h4><br>
        <span>{{product.brand}}</span><br>
        <span>{{product.price}}</span>
      </div>
      <div>
        <br>
        <label for="quantity">Qty</label><br>
        <input type="number" name="quantity" id="quantity">
      </div>
      
      <div>
        <button class="remove" mat-button>
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <br>
    <span align="end"><strong>{{total | currency:'R'}}</strong> </span>
    <br><br>
    <button class="btn btn-secondary checkOut">Check Out</button>
    <br>
  </div>
</div>