<div class="container">
  <div class="row">
    <div class="card p-2 col-md-6 col-sm-12">
      <div class="card-header">
        Shopping Cart
      </div>
      <br>
      <div class="card-body" *ngFor="let cart of carts">
        <div>
          <img height="90%" width="150px" src="{{cart.product.imageURL}}" alt="Product image">
        </div>
        <div>
          <h4>{{cart.product.name}}</h4>
          <span>{{cart.product.brand}}</span><br>
          <span>{{cart.product.price | currency:'R'}}</span>
        </div>
        <div>
          <label for="quantity">Qty:</label><br>
          <input type="number" name="quantity" id="quantity" value="1">
        </div>
        <app-delete-cart [cart]="cart"></app-delete-cart>
      </div>
      <br>
      <span align="end">Items: <strong>{{carts.length | number}}</strong> </span>
      <span align="end">Total: <strong>{{total | currency:'R'}}</strong> </span>
      <br>
      <br>
      <button id="btnCheckout" class="btn" (click)="placeOrder()">Checkout</button>
    </div>
    <div class="col-md-6 col-sm-12">
      <app-checkout [cartProducts]="carts"></app-checkout>
    </div>
  </div>

</div>