<div class="card-body p-4 p-lg-5 text-black">
                  
    <form [formGroup]="orderForm" (ngSubmit)="addOrderFormData(orderForm.value)">
      <div class="d-flex align-items-center mb-3 pb-1">
        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
        <span class="h1 fw-bold mb-0">Add Order</span>
      </div>

     <div class="form-outline mb-4">
        <input type="text" placeholder="Enter Order Number" name="ordernumber" formControlName="ordernumber" id="ordernumber"
          class="form-control form-control-lg">
          <span style="color: red;" *ngIf="ordernumber && ordernumber.invalid && ordernumber.touched">Invalid
            Order Number</span>
      </div>
      
      <div class="form-outline mb-4">
        <input type="text" placeholder="Enter Order Price" name="orderprice" id="orderprice"
          formControlName="orderprice" class="form-control form-control-lg">
        <!-- <span style="color: red;"
          *ngIf="orderdate && orderdate.invalid && orderdate.touched">Invalid Order Date</span> -->
      </div>

      <div class="form-outline mb-4">
        <input type="date" placeholder="Enter Order Date" name="orderdate" id="orderdate"
          formControlName="orderdate" class="form-control form-control-lg">
        <!-- <span style="color: red;"
          *ngIf="orderdate && orderdate.invalid && orderdate.touched">Invalid Order Date</span> -->
      </div>

      <div class="form-outline mb-4">
        <input type="text" placeholder="Customer Name" name="customername" formControlName="customername" id="customername"
          class="form-control form-control-lg">
        <!-- <span style="color: red;" *ngIf="customername && customername.invalid && customername.touched">Invalid
          Customer Name</span> -->
      </div>

      <div class="form-outline mb-4">
        <input type="text" placeholder="Enter Product Name" name="productname" id="productname"
          formControlName="productname" class="form-control form-control-lg">
        <!-- <span style="color: red;"
          *ngIf="productname && productname.invalid && productname.touched">Invalid
          Product Name</span> -->
      </div>

      <div class="form-outline mb-4">
        <input type="text" placeholder="Enter Quantity" name="quantity" id="quantity"
          formControlName="quantity" class="form-control form-control-lg">
        <!-- <span style="color: red;"
          *ngIf="quantity && quantity.invalid && quantity.touched">Invalid
          Product Quantity</span> -->
      </div>
     
     
        <input class="btn btn-dark btn-lg btn-block" type="submit" value="Submit" id="submitButton">
        <br>
        
        
    </form>
  
  </div>
