           <section class="vh-100 bg-image">
            <div class="mask d-flex align-items-center h-100 gradient-custom-3">
              <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                  <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                      <div class="card-body p-5">
                        <h2 class="text-uppercase text-center mb-5">Add Product</h2>
                        
       <form [formGroup]="addProductForm" (ngSubmit)="addProduct(addProductForm.value)">

            <div class="form-outline mb-4">
                    <input type="text" id="name" ngModel placeholder="Enter the Product Name" name="name"
                      formControlName="name" class="form-control form-control-lg" />
                    <span style="color:red;"
                      *ngIf="name && name.invalid&& name.touched">
                      Please enter product name
                    </span>
                    <br>
            </div>

            <div class="form-outline mb-4">
                    <input type="text" id="description" ngModel placeholder="Enter the Product Description" name="description"
                      formControlName="description" class="form-control form-control-lg" />
                    <span style="color:red;"
                      *ngIf="description && description.invalid&& description.touched">
                      Please enter product Description
                    </span>
                    <br>
            </div>

            <div class="form-outline mb-4">
                    <input type="text" ngModel id="price" placeholder="Enter the Product Price"
                      name="price" formControlName="price" class="form-control form-control-lg" />
                    <span style="color:red;"
                      *ngIf="price && price.invalid&& price.touched">
                      Please enter Product price
                    </span>
                    <br>   
                </div> 

                <div class="form-outline mb-4">
                        <input type="text" ngModel id="imageURL" placeholder="Enter the Product Image Url"
                          name="imageURL" formControlName="imageURL"
                          class="form-control form-control-lg" />
                        <span style="color:red;"
                          *ngIf="imageURL && imageURL.invalid&& imageURL.touched">
                          Enter the Image Url
                        </span>
                        <br>
                </div>

                <div class="form-outline mb-4">
                        <input type="text" ngModel id="quantity" placeholder="Enter the Product Quantity"
                          name="quantity" formControlName="quantity"
                          class="form-control form-control-lg" />
                

                <span style="color:red;"
                *ngIf="quantity && quantity.invalid&& quantity.touched">
                This field is Invalid
              </span>
              <br>

            </div>


            <div class="d-flex justify-content-center">
              <button (click)="addProduct(addProductForm.value)" [disabled]="addProductForm.invalid" type="button" id="addProductButton"
                class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" >Add New Product</button>

            </div>


          </form>


        </div>
      </div>
    </div>
  </div>
</div>
</div>
<br><br><br>

</section>
