<div class="card-body p-1">
  <h3 class="text-center mb-2">Add new product</h3>
  <form [formGroup]="addProductForm" (ngSubmit)="addProduct(addProductForm.value)">
    <div class="form-outline mb-3">
      <label for="name">Product name:</label>
      <input type="text" id="name" ngModel name="name" formControlName="name"
        class="form-control form-control" />
      <span style="color:red;" *ngIf="name && name.invalid&& name.touched">
        Please enter product name
      </span>
      <br>
    </div>
    <div class="form-outline mb-3">
      <label for="description">Product Description:</label>
      <input type="text" id="description" ngModel name="description"
        formControlName="description" class="form-control form-control" />
      <span style="color:red;" *ngIf="description && description.invalid&& description.touched">
        Please enter product Description
      </span>
      <br>
    </div>
    <div class="form-outline mb-3">
      <label for="price">Product Price:</label>
      <input type="number" ngModel id="price" name="price" formControlName="price"
        class="form-control form-control" />
      <span style="color:red;" *ngIf="price && price.invalid&& price.touched">
        Please enter Product price
      </span>
      <br>
    </div>
    <div class="form-outline mb-3">
      <label for="imageURL">Image Url:</label>
      <input type="text" ngModel id="imageURL" name="imageURL"
        formControlName="imageURL" class="form-control form-control" />
      <span style="color:red;" *ngIf="imageURL && imageURL.invalid&& imageURL.touched">
        Enter the Image Url
      </span>
      <br>
    </div>

    <div class="form-outline mb-3">
      <label for="description">Product Quantity:</label>
      <input type="number" ngModel id="quantity" name="quantity"
        formControlName="quantity" class="form-control form-control" />
      <span style="color:red;" *ngIf="quantity && quantity.invalid&& quantity.touched">
        This field is Invalid
      </span>
      <br>
    </div>


    <div class="d-flex justify-content-center">
      <button (click)="addProduct(addProductForm.value)" [disabled]="addProductForm.invalid" type="button"
        id="addProductButton" class="btn btn-secondary btn-block btn-md gradient-custom-4 text-body">Submit</button>
    </div>


  </form>


</div>