<section class="vw-100" style="background-color: #658864;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form [formGroup]="signupForm" (ngSubmit)="signUp(signupForm.value)">
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0">Sign Up</span>
                    </div>
                    <div class="form-outline mb-4">
                      <input type="text" placeholder="Enter First Name" name="firstname" formControlName="firstname" id="firstname"
                        class="form-control form-control-lg">
                      <span style="color: red;" *ngIf="firstname && firstname.invalid && firstname.touched">Invalid Firstname</span>
                    </div>
                    <div class="form-outline mb-4">
                      <input type="text" placeholder="Enter Last Name" name="lastname" formControlName="lastname" id="lastname"
                        class="form-control form-control-lg">
                      <span style="color: red;" *ngIf="lastname && lastname.invalid && lastname.touched">Invalid Lastname</span>
                    </div>
                    <div class="form-outline mb-4">
                      <input type="text" placeholder="Enter Email" name="email" formControlName="email" id="email"
                        class="form-control form-control-lg">
                      <span style="color: red;" *ngIf="email && email.invalid && email.touched">Invalid Email</span>
                    </div>
                    <div class="form-outline mb-4">
                      <input type="text" placeholder="Enter Username" name="username" formControlName="username" id="username"
                        class="form-control form-control-lg">
                      <span style="color: red;" *ngIf="username && username.invalid && username.touched">Invalid
                        Username</span>
                    </div>
                    <div class="form-outline mb-4">
                      <input type="text" placeholder="Enter Mobilenumber" name="mobilenumber" id="mobileNumber"
                        formControlName="mobilenumber" class="form-control form-control-lg">
                      <span style="color: red;"
                        *ngIf="mobilenumber && mobilenumber.invalid && mobilenumber.touched">Invalid Mobilenumber</span>
                    </div>
                    <div class="form-outline mb-4">
                      <input type="password" placeholder="Password" name="password" formControlName="password" id="password"
                        class="form-control form-control-lg">
                      <span style="color: red;" *ngIf="password && password.invalid && password.touched">Invalid
                        Passsword</span>
                    </div>
                    <div class="form-outline mb-4">
                      <input type="password" placeholder="Confirm Password" name="confirmpassword" id="confirmPassword"
                        formControlName="confirmpassword" class="form-control form-control-lg">
                      <span style="color: red;"
                        *ngIf="confirmpassword && confirmpassword.invalid && confirmpassword.touched">Invalid
                        Passsword</span>
                    </div>
                    <textarea rows="3" cols="50"></textarea>
                   
                      <input class="btn btn-dark btn-lg btn-block" type="submit" value="Submit" id="submitButton">
                      <br>
                  
                    <p class="mb-5 pb-lg-2" style="color: #393f81;" id="signinLink">Already a user? <a (click)="navigateLogin()"
                        style="color: #393f81;">Login</a></p>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <mat-stepper [linear]="false" #stepper>
    <mat-step [stepControl]="detailsForm">
      <form [formGroup]="detailsForm">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="name" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="addressForm" label="Fill out your address">
      <form [formGroup]="addressForm">
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input matInput formControlName="city" placeholder="Ex. 1 Main St, New York, NY"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button >Reset</button>
      </div>
    </mat-step>
  </mat-stepper> -->